/* RESET */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
legend{color:#000;}

/* IGNORE THIS */

body{
  font-family: "Hoefler Text",Baskerville,Garamond,"Palatino Linotype",Georgia,"Times New Roman",serif;
  padding-top: 50px;
}

h1{
  font-size: 72px;
  text-align: center;
  margin-bottom: 21px;
  
  text-shadow: #cccccc 4px 4px 4px;
}

h2{
  position: absolute;
  top: 0px;
  right: 20px;
  -moz-box-shadow: 4px 4px 4px #ccc;  
}

h2 a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  text-transform: lowercase;  

  color: #ffffff;
  font-style: italic;
  font-size: 20px;
  
  padding: 4px 8px;
  background: #993300;
}

p{
  font-size: 18px;
  line-height:32px;
  width: 525px;
  margin: 0 auto;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 21px;
}

/* CAROUSEL PANES */

.carouselpanes,
.cp-wrapper,
.cp-pane{
  width: 425px;
}

.carouselpanes{
  position: relative;
  padding: 2px 50px;
  margin: 60px auto;
}

.cp-wrapper{
  overflow: hidden; 
}

.cp-pane{
  float: left;
  height: 170px;
}

.cp-pane li{
  float: left;
  margin: 5px;
  width: 75px;
  height: 75px;
}



.cp-slider{
  width: 9000px;
}

.cp-arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: block;
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  -moz-border-radius: 10px;
  
  font-family: Arial;
  font-size: 22px;
  font-weight: bold;
  color: #993300;
}

.cp-back{
  left: 0px;
}

.cp-forward{
  right: 0px;
}